:root {
    --text-color: #252525;
    --background-color: #FFEAD8;
    --card-background: #ffffff;
    --form-background: #e8988a;
    --button-background: #e8988a;
    --read-color: #008000;
    --unread-color: #b10000;
    --danger-color: #dc3545;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

#library {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.book-card {
    background-color: var(--card-background);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5),
                0 1px 3px rgba(0, 0, 0, 0.3),
                0 0 1px rgba(0, 0, 0, 0.3) inset;
    padding: 1rem;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    word-break: break-word;
    text-align: center;
}

.status {
    font-weight: bold;
}

.status.read { 
    color: var(--read-color); 
}

.status.unread { 
    color: var(--unread-color); 
}

.icon {
    vertical-align: bottom;
    font-size: 1.2rem;
    cursor: pointer;
        transition: 0.2s ease-in-out;
}

.fa-trash {
    color: white;
    background-color: var(--danger-color);
    cursor: pointer;
    border: 2px solid var(--danger-color);
    border-radius: 10%;
    padding: 0.3rem;
    margin-top: 1rem;
}

.fa-trash:hover {
    color: var(--danger-color);
    background-color: rgba(164, 0, 0, 0.1);
}

#add-button {
    background-color: var(--button-background);
    color: var(--text-color);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 4px 4px #784e47;
}

#add-button:hover {
    box-shadow: 2px 2px #784e47;
    translate: 2px 2px;
}

#add-button:active {
    box-shadow: none;
    translate: 4px 4px;
}

#book-dialog {
    margin: 5.3rem auto;
    width: 80%;
    max-width: 500px;
    background-color: var(--form-background);
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#add-book-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    font-weight: bold;
}

#add-book-form input:not([type="radio"]) {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
}

#add-book-form input:not([type="radio"]):focus {
    outline: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}

#add-book-form button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    background-color: var(--background-color);
    box-shadow: 2px 2px #784e47;
}

#add-book-form button:hover {
    box-shadow: none;
    translate: 2px 2px;
}

#add-book-form input:not([type="radio"]), #add-book-form button {
    transition: 0.2s ease-in-out;
}

@media screen and (max-width: 600px) {
    .html {
        font-size: 14px;
    }
}